<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Processes</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
  <div>
    <table border="1" id="processes">
      <thead>
        <tr>
          <th>ID</th>
          <th>Process name</th>
          <th>Timestamp</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody id="processes-tbody"></tbody>
    </table>
  </div>
  <script th:src="@{/resources/processes/processes.js}"></script>
</body>
</html>