<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Processes</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
  <div>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Process name</th>
          <th>Timestamp</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="process : ${processes}">
          <td th:text="${process.id}"></td>
          <td th:text="${process.processName}"></td>
          <td th:text="${#temporals.format(process.timestamp, 'dd/MMM/yyyy HH:mm')}"></td>
          <td th:switch="${process.status}">
            <span th:case="0">Disabled</span>
            <span th:case="1">Enabled</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>